{% extends "accounts/base.html" %}
{% block title %}Login · RainCast{% endblock %}
{% block body_class %}bg-neutral{% endblock %}

{% block content %}
  <h1 class="title">Login</h1>

  {% if form.non_field_errors %}
    <div class="errors-global">{{ form.non_field_errors }}</div>
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}

    <div class="field">
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>

    <div class="field">
      <label for="{{ form.password.id_for_label }}">Password</label>
      {{ form.password }}
      {{ form.password.errors }}
    </div>

    <button type="submit" class="btn">Login</button>
  </form>

  <div class="helper">
    Don’t have an account?
    <a href="{% url 'accounts:signup' %}">Sign up</a>
  </div>
{% endblock %}
